.auction-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.address {
  color: black;
  text-align: center;
  margin: 0 auto;
}

.description {
  font-size: 1.5rem;
  text-align: center;
}

.picture-and-auction-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.one-picture {
  max-height: 400px;
  max-width: 400px;
  padding: 20px;
}

.auction-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

Modal {
  height: 800px;
  width: 800px;
}
