.my-properties {
  display: grid;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  grid-template-columns: repeat(autofill, 1fr);
  grid-auto-flow: dense;
  gap: 28px;
}

@keyframes movedown {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(10px);
  }
}

.arrow-downward {
  color: red;
  animation-name: movedown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
